@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,200;1,400&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap");



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   
}

body{
    background-image: linear-gradient(
        to right bottom,
        rgba(237, 245, 132, 0.657),
        rgba(8, 224, 224, 0.787)
      )
}

.calculator{
    

    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);
}

.calculator > button{
    background-color: transparent;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(7, 7, 7);
    border: 1px solid white;
    /* background-color: rgba(45, 192, 185, 0.7); */
    outline: none;
    cursor: pointer;

}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color:rgba(255, 255, 255, 0.849);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 5px;

    

}

.output .prevOperand{
    font-size: 1.5rem;
    color: rgba(37, 36, 36, 0.883);



}

.output .currentOperand{
    font-size: 3rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.883);
}